<section class="container">
  <div class="iconAndTitle">
    <button mat-icon-button color="primary" (click)="goTo('')">
      <mat-icon>chevron_left</mat-icon>
    </button>
    <h1 class="text">My Bookings:</h1>
  </div>
  <article *ngIf="!myBookings; else bookingsCards">
    <h2 class="text no-bookings">No bookings yet</h2>
  </article>
  <ng-template #bookingsCards>
    <article *ngFor="let booking of myBookings" (click)="openDialog(booking)"class="booking-cards">
     <h2 class="text">{{booking.origin}}</h2>
     <mat-icon color="primary">arrow_right_alt</mat-icon>
     <h2 class="text">{{booking.destination}}</h2>
    </article>
  </ng-template>
  <button mat-raised-button color="primary" (click)="goTo('new-booking')">Create new booking</button> 
</section>